<div class="mt-5 border rounded-lg">
    <ul>
        <li>
            <div class="flex gap-20 border-b p-4">
                <span class="font-semibold w-32">
                    Name
                </span>

                <span class="text-sm">
                    <%= @inventory.name %>
                </span>
            </div>
        </li>
        <li>
            <div class="flex gap-20 border-b p-4">
                <span class="font-semibold w-32">
                    Description
                </span>

                <span class="text-sm">
                    <% if @inventory.description.present? %>
                    <%= @inventory.description %>
                    <% else %>
                    <p>Nil</p>
                    <% end %>
                </span>
            </div>
        </li>
        <li>
            <div class="flex gap-20 p-4">
                <span class="font-semibold w-32">
                    Global threshold
                </span>

                <span class="text-sm">
                    <%= @inventory.global_stock_threshold %>
                </span>
            </div>
        </li>
        <li>
            <div class="flex gap-20 p-4">
                <span class="font-semibold w-32">
                    Inventory users
                </span>

                <span class="text-sm">
                    <%= link_to @inventory.members.count, inventory_inventory_users_path(@inventory), class: "underline" %>
                </span>
            </div>
        </li>
    </ul>
</div>