<div class="flex items-center flex-wrap gap-2 md:gap-5 mb-3 text-sm">
  <div><span class="font-semibold">Email:</span> <%= inventory_user.user.email %></div>
  <span>•</span>
  <div><span class="font-semibold">Role:</span> <%= inventory_user.role.titleize %></div>
  <span>•</span>
  <div><span class="font-semibold">Joined:</span> <span><%= inventory_user.created_at.strftime("%b %d, %Y") %></span></div>
</div>