<div class="max-w-screen-lg mx-auto">
    <nav class="flex mb-5" aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
            <li class="inline-flex items-center">
                <%= link_to root_path, class: "inline-flex items-center text-sm font-medium text-orange-700 hover:text-orange-600 dark:text-orange-400 dark:hover:text-white" do %>
                    <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
                    </svg>
                    Home
                <% end %>
            </li>
            <li aria-current="page">
                <div class="flex items-center">
                    <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                    </svg>
                    <span class="ms-1 text-sm font-medium text-gray-500 md:ms-2 dark:text-gray-400">Items Settings</span>
                </div>
            </li>
        </ol>
    </nav>
    <h2 class="font-bold text-xl mb-2 flex items-center">Items Setting <button data-popover-target="popover-animation" data-popover-placement="bottom-end" type="button"><svg class="w-4 h-4 ms-2 text-gray-400 hover:text-gray-500" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg><span class="sr-only">Show information</span></button></h2>

    <div data-popover id="popover-animation" role="tooltip" class="absolute z-50 invisible inline-block text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 w-1/2 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400">
        <div class="p-3 space-y-2">
            <h3 class="font-semibold text-gray-900 dark:text-white">Stock Threshold</h3>
            <p>A stock threshold is the minimum quantity of stock that is considered acceptable before replenishment or restocking is necessary. It serves as a warning point, triggering alerts or notifications when the stock level falls below the set threshold. This allows for timely reordering or restocking, preventing stockouts and ensuring a steady supply of goods.</p>
            <h3 class="font-semibold text-gray-900 dark:text-white">Item Stock Threshold</h3>
            <p>An item stock threshold is the minimum quantity of a specific item that is considered acceptable. It is set individually for each item and takes precedence over the global stock threshold. When the stock level of an item falls below its set threshold, it triggers a warning or alert, indicating that replenishment or restocking of that item is necessary.</p>
            <h3 class="font-semibold text-gray-900 dark:text-white">Global Stock Threshold</h3>
            <p>A global stock threshold is the default minimum quantity of stock that applies to all items without a specifically set item stock threshold. It serves as a fallback threshold, ensuring that all items have a minimum stock level, even if an individual item threshold is not set. The global stock threshold provides a safety net, preventing stockouts and ensuring a steady supply of goods across all items.</p>
        </div>
        <div data-popper-arrow></div>
    </div>

    <ul>

        <li class="">
            <%= link_to password_settings_path, class: "inline-flex justify-between rounded-lg items-center w-full hover:bg-gray-200 p-3 px-8" do %>

                <div class="flex gap-5 items-center">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0M3.124 7.5A8.969 8.969 0 0 1 5.292 3m13.416 0a8.969 8.969 0 0 1 2.168 4.5" />
                        </svg>
                    </span>
                    <div>
                        <p>Global stock threshold</p>
                        <p class="text-sm text-gray-600">10</p>
                    </div>
                </div>

                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                    </svg>
                </span>
            <% end %>
        </li>

        <li class="">
            <%= link_to deactivate_user_settings_path, class: "inline-flex justify-between rounded-lg items-center w-full hover:bg-gray-200 p-3 px-8" do %>

                <div class="flex gap-5 items-center">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.182 16.318A4.486 4.486 0 0 0 12.016 15a4.486 4.486 0 0 0-3.198 1.318M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0ZM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75Zm-.375 0h.008v.015h-.008V9.75Zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75Zm-.375 0h.008v.015h-.008V9.75Z" />
                        </svg>
                    </span>
                    <div>
                        <p>Deactivate your user</p>
                        <p class="text-sm text-gray-600">Find out how to permanently delete your user.</p>
                    </div>
                </div>

                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                    </svg>
                </span>
            <% end %>
        </li>

    </ul>
    </div>
</div>
